.MainPageBaseContainer {
  display: flex;
  height: 100%;
  gap: 20px;
  padding: 20px;
}
.MainPageTitleContainer {
  position: relative;
  background-color: white;
  display: flex;
  flex: 1;
  border-radius: 20px;
  padding: 10px;
}
.mainPageTitleIconButton {
  bottom: 4%;
  right: 8%;
  position: absolute;
}
.MainPageNotesContainer {
  background-color: white;
  display: flex;
  flex: 3;
  border-radius: 20px;
}

.MainPageNotesContainer textarea {
  resize: none;
  flex: 1;
  border-radius: 15px;
  padding: 15px;
}
.mainPageTitleIconButton:hover {
  cursor: pointer;
  color: blue;
}
.MainPageTitleContainer p {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  margin: 10px;
  width: 200px;
  border: 2px solid black;
  font-family: cursive;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
}
p:hover {
  cursor: pointer;
  background-color: var(--baseColor);
}
.MainPageSaveContainer {
  display: flex;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.savebtn {
  background-color: aqua;
}
.searchBarContainer{
  display: flex;

  gap: 0px;
  margin-top: 5%;
  border: 1px black;
  border-radius: 20px;
}
.searchInput{
display: flex;
flex: 1;
justify-content: center;
border-radius: 20px;
flex-direction: row-reverse;

}

.searchIcon{
display: flex;
flex: 4;

}